html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: background-color 0.5s ease;
}
#contenedor {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}
#imagen {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: transparent;
  max-width: 50vh;
}
}
#titulo1 {
  font-size: 2em;
  margin-top: 15px;
}
#prediccion1 {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 1.6;
}
#boton, #ir {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  font-size: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}