html {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: background-color 0.5s ease;
}
#contenedor {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
#imagen {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 12px;
}
/* Título */
#titulo1 {
  margin-top: 15px;
  font-size: 2em;
}
/* Predicción centrada */
#prediccion1 {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 1.6;
}
/* Botón grande y cuadrado */
#boton {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.1em;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
/* Botón "Ir" más grande */
#ir {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  background-color: black;
  color: white;
  text-decoration: none;
}